<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html?getting-started">
            <h2 class="post-title">
              Getting Started
            </h2>
          </a>
          <p>Getting started with Spring Boot</p>
          <p class="post-meta">Posted by
            <a href="https://github.com/mrindiadev" target="mrindiadev">Mr. India</a> | Mar 17, 2022
          </p>
        </div>
        <div class="post-preview">
          <a href="post.html?overview">
            <h2 class="post-title">
              Overview
            </h2>
          </a>
          <p>Overview of Spring Boot</p>
          <p class="post-meta">Posted by
            <a href="https://github.com/mrindiadev" target="mrindiadev">Mr. India</a> | Mar 17, 2022
          </p>
        </div>
        <div class="post-preview">
          <a href="post.html?hello">
            <h2 class="post-title">
              Hello Spring Boot
            </h2>
          </a>
          <p>Let's start by saying Hello to Spring Boot</p>
          <p class="post-meta">Posted by
            <a href="https://github.com/mrindiadev" target="mrindiadev">Mr. India</a> | Jan 01, 2022
          </p>
        </div>
        <!--<hr>-->
        <!-- Pager -->
        <!--
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
        -->
      </div>
    </div>
</div>